@font-face { 
    font-family: 'Roboto', sans-serif; 
    
    src:url(../fonts/Roboto-Regular.ttf)  format("truetype");
    font-weight: 400; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto', sans-serif; 
    
    src:url(../fonts/Roboto-Bold.ttf)  format("truetype");
    font-weight: 700; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Roboto', sans-serif; 
    
    src:url(../fonts/Roboto-Medium.ttf)  format("truetype");
    font-weight: 500; 
    font-style: normal; 
}

.wrapper{
    max-width: 1366px;
    margin: 0 auto;
    background:     #FAFAFA;
    height: 1084px;
}

header{
    background: #FFFFFF;
    height: 56px;
    margin-bottom: 40px;
}

.single__menu-tab{
    display: flex;
    flex-direction: row;
    padding-top: 18px;
    height: 36px;
    
}

.tab__menu-link{
    display: flex;
    text-decoration: none;
    opacity: 0.75;
}

.svg__icon{
    margin-right: 8px;
    color: #000000;

    
    
}



.header__wrapper{
    max-width: 1196px;
    margin: 0 auto;
    display: flex;
    
}


.tab__title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;

    
    margin-right: 40px;
    text-decoration: none;
    

}

.exit__tab__title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;

    
    margin-left: 556px;
    margin-right: 8px;
    text-decoration: none;
}

.exit__svg__icon{
    
    color: #000000;

    
}

.tab__menu-link:hover{
    opacity: 1;
}

.application__container{
    width: 573px;
    height: 881px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.application__wrapper{
    max-width: 513px;
    margin: 0 auto;
    padding-top: 30px;
}

.flex__app__info{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.flex__info__left{
    margin-right: 76px;
}

.name__label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-transform: uppercase;

    color: #8A8A8A;
    margin-bottom: 2px;

}

.actual__name{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #3F3F3F;
    margin-bottom: 12px;

}

.app__back{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #3E2CA9;

    opacity: 0.8;
    background: transparent;
    border: none;
    padding: 0px;
    margin-bottom: 20px;
}

.app__back:hover{
    opacity: 1;
}

.create__app__title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    margin-bottom: 20px;

}

.create__app__subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    margin-bottom: 13px;

}

.goal__subtitle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    margin-bottom: 13px;

}

.goal__text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    color: #3F3F3F;
    margin-bottom: 20px;

}

.goal__comment{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    margin-bottom: 13px;
}

.goal__input{
    width: 493px;
    height: 147px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
    flex-wrap: wrap;
    margin-bottom: 20px;

    
}

.flex__info__middle{
    margin-right: 81px;
}

.comment__button{
    width: 200px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #3E2CA9;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #3E2CA9;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.95;

}

.comment__button:hover{
    opacity: 1;
    background:     #FAFAFA;
}

.application__decline__button{
    width: 270px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #3E2CA9;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #3E2CA9;
    margin-bottom: 20px;
    opacity: 0.95;

}

.application__decline__button:hover{
    opacity: 1;
    background:     #FAFAFA;
}

.application__accept__button{
    width: 270px;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.95;
    color: #FFFFFF;


    background: #3E2CA9;
    border: none;
}

.application__accept__button:hover{
    opacity: 1;
}
.flex__app__info{
    display: flex;
    flex-direction: row;
}

.create__app__flex{
    display: flex;
}